#k3cms_ribbon
  .row.row_1
    .split_left
      %ul
        %li.toggle_edit_mode
          - if edit_mode?
            = link_to "Done editing", params.merge({:edit => false.to_s})
          - else
            = link_to "Start editing", params.merge({:edit => true.to_s})

    .split_right
      %ul
        - @options[:k3cms_ribbon_items] and (@options[:k3cms_ribbon_items][:top] || []).each do |item|
          = item

  .row.row_2
    %ul.tabs
      %li= image_tag 'k3cms/ribbon/k3cms_logo.png', :id => 'k3cms_logo'
      %li.last_saved_status

      -#
        %li.admin <a href="#admin">Admin</a>

  .row.row_3
    .panes
      -#
        .admin
          - @options[:k3cms_ribbon_items] and (@options[:k3cms_ribbon_items][:admin] || []).each do |item|
            = item


#k3cms_ribbon_underneath
#k3cms_drawers
  - @options[:k3cms_ribbon_drawers] and @options[:k3cms_ribbon_drawers].each do |name, drawer|
    = drawer


:javascript
  $(function() {
    if (K3cms_Ribbon.edit_mode_on()) {
      $('html').removeClass('edit_mode_off');
      $('html').addClass(   'edit_mode_on');
      $('#k3cms_ribbon').k3cms_ribbon();
      $('#k3cms_ribbon').k3cms_ribbon('render');
      $('#k3cms_ribbon').k3cms_ribbon('refresh');
      $('#k3cms_ribbon_underneath').height($('#k3cms_ribbon').height())
    } else {
      $('html').removeClass('edit_mode_on');
      $('html').addClass(   'edit_mode_off');
      $('#k3cms_ribbon_underneath').height($('#k3cms_ribbon').height())
    }
  });
