#k3_ribbon
  .row.row_1
    .split_left
      %ul
        %li.toggle_edit_mode
          - if edit_mode?
            = link_to "Done editing", params.merge({:edit => false.to_s})
          - else
            = link_to "Start editing", params.merge({:edit => true.to_s})

    .split_right
      %ul
        - @opts[:k3_ribbon_items] and (@opts[:k3_ribbon_items][:top] || []).each do |item|
          = item

  .row.row_2
    %ul.tabs
      %li= image_tag 'k3/ribbon/k3_logo.png', :id => 'k3_logo'
      -#
        - if outer_content_for?(:last_saved_status)
          %li#last_saved_status
            = outer_content_for :last_saved_status

        %li.admin <a href="#admin">Admin</a>

  .row.row_3
    .panes
      -#
        .admin
          - @opts[:k3_ribbon_items] and (@opts[:k3_ribbon_items][:admin] || []).each do |item|
            = item


#k3_ribbon_underneath
#k3_drawers
  - @opts[:k3_ribbon_drawers] and @opts[:k3_ribbon_drawers].each do |name, drawer|
    = drawer


:javascript
  $(function() {
    if (#{edit_mode?.to_json}) {
      $('body').removeClass('edit_mode_off');
      $('body').addClass(   'edit_mode_on');
      $('#k3_ribbon').k3_ribbon();
      $('#k3_ribbon').k3_ribbon('render');
      $('#k3_ribbon').k3_ribbon('refresh');
      $('#k3_ribbon_underneath').height($('#k3_ribbon').height())
    } else {
      $('body').removeClass('edit_mode_on');
      $('body').addClass(   'edit_mode_off');
      $('#k3_ribbon_underneath').height($('#k3_ribbon').height())
    }
  });


