#k3_ribbon
  .row.row_1
    .split_left
      %ul
        %li.toggle_edit_mode
          Edit mode: #{{true => 'on', false => 'off'}[edit_mode?]}
          = link_to "Turn #{{false => 'on', true => 'off'}[edit_mode?]}", params.merge({:edit => (!edit_mode?).to_s})

    .split_right
      %ul
        - @opts[:k3_ribbon_items] and (@opts[:k3_ribbon_items][:top] || []).each do |item|
          = item

  .row.row_2
    %ul.tabs
      -#
        - if outer_content_for?(:last_saved_status)
          %li#last_saved_status
            = outer_content_for :last_saved_status

        %li.admin <a href="#admin">Admin</a>

  .row.row_3
    .panes
      -#
        .admin
          - @opts[:k3_ribbon_items] and (@opts[:k3_ribbon_items][:admin] || []).each do |item|
            = item


#k3_ribbon_underneath
#k3_drawers
  - @opts[:k3_ribbon_drawers] and @opts[:k3_ribbon_drawers].each do |name, drawer|
    = drawer


:javascript
  $(function() {
    $('#k3_ribbon').k3_ribbon();
    $('#k3_ribbon').k3_ribbon('render');
    $('#k3_ribbon').k3_ribbon('refresh');
  });

