<div class="k3_pages_pages_show">
  <% content_for :title do %>
<%= strip_tags @page.title -%>
  <% end %>
  <% content_for :meta_description do %>
<%= @page.meta_description -%>
  <% end %>
  <% content_for :meta_keywords do %>
<%= @page.meta_keywords -%>
  <% end %>
  <% content_for :last_saved_status do %>
    <%= render_cell 'k3/pages', :last_saved_status, :page => @page %>
  <% end %>
  <% if edit_mode? and can?(:edit, K3::Page) %>
    <script type="text/javascript">
      $(function() {
        K3.current_object = {
          url:   '<%= url_for(@page) %>',
          class: '<%= dom_class(@page) %>',
        }
        $('#k3_ribbon').k3_ribbon('enable', '.k3_pages .page_metadata.button');
        $('#k3_ribbon').k3_ribbon('enable', '.k3_pages .page_delete.button');
      })
    </script>
    <% k3_ribbon_add_drawer :k3_page_metadata do %>
      <%= render_cell('k3/pages', :metadata_drawer, :page => @page) %>
    <% end %>
  <% end %>



  <div class="<%=dom_class(@page)%>" id="<%=dom_id(@page)%>">
    <h1>
      <% if edit_mode? and can?(:edit, K3::Page) %>
        <% inline_editable('span', @page, :title) do %>
          <%= raw(@page.title) -%>
        <% end %>
      <% else %>
        <%= raw(@page.title) %>
      <% end %>
    </h1>

    <% if edit_mode? and can?(:edit, K3::Page) %>
      <% inline_editable('div', @page, :body) do %>
        <%= raw(@page.body) %>
      <% end %>
    <% else %>
      <%= raw(@page.body) %>
    <% end %>
  </div>
</div>
