<p class="notice"><%= notice %></p>

<% content_for :title do %>
  <%= strip_tags @page.title %>
<% end %>
<h1>
  <% if edit_mode? %>
    <span class="editable" data-url="<%= k3_page_path(@page) %>" data-object="k3_page" data-attribute="title" data-formtype="inline_editor">
      <%= raw(@page.title) %>
    </span>
  <% else %>
    <%= raw(@page.title) %>
  <% end %>
</h1>

<% if edit_mode? %>
  <div class="editable" data-url="<%= k3_page_path(@page) %>" data-object="k3_page" data-attribute="body" data-formtype="inline_editor">
    <%= raw(@page.body) %>
  </div>
<% else %>
  <%= raw(@page.body) %>
<% end %>

<% if edit_mode? %>
  <script type="text/javascript">
    // for other non-inline-editor fields:
    jQuery(".rest_in_place").rest_in_place();

    initInlineEditor();
  </script>
<% end %>

