<div class="k3_pages_pages_show">
  <% content_for :title do %>
    <%= strip_tags @page.title %>
  <% end %>
  <% content_for :last_saved_status do %>
    <%= render_cell 'k3/pages', :last_saved_status, :page => @page %>
  <% end %>

  <div class="<%=dom_class(@page)%>" id="<%=dom_id(@page)%>">
    <h1>
      <% if edit_mode? %>
        <% inline_editable('span', @page, :title) do %>
          <%= raw(@page.title) %>
        <% end %>
      <% else %>
        <%= raw(@page.title) %>
      <% end %>
    </h1>

    <% if edit_mode? %>
      <% inline_editable('div', @page, :body) do %>
        <%= raw(@page.body) %>
      <% end %>
    <% else %>
      <%= raw(@page.body) %>
    <% end %>
  </div>
</div>
